* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* Center the menu horizontally */
    margin-top: 20px;
    /* Adjust the space between the name and the menu */
}

.menu li {
    position: absolute;
    list-style: none;
    left: 0;
    transform-origin: 100px;
    transform: rotate(calc(360deg / 4 * var(--i)));
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    opacity: 0;
    /* Hide the items initially */
    pointer-events: none;
    /* Disable interactions initially */
}

.menu.active li {
    opacity: 1;
    /* Show the items */
    pointer-events: auto;
    /* Enable interactions */
}

.toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgb(229, 237, 113);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
    transition: 1.25s;
}

.menu.active .toggle {
    transform: rotate(360deg);
}

.menu li a {
    display: flex;
    Justify-content: center;
    align-items: center;
    width: 40px;
     height:40px;
    background-color: white ;
    border-radius: 50%;
    transform: rotate(calc(360deg/-4 * var(--i)));
}
.name{
    font-family: Zodiak;
}